/*
Theme Name: eh-shop
Theme URI: https://acmeinc.com
Author: Hector Ovalles
Author URI: https://webdevstudios.com/
Description: A spiffy new theme for Acme Inc. by WebDevStudios based on wd_s
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ehshop
Tags: custom

This theme, like WordPress, is licensed under the GPL.

Based on Underscores http://underscores.me/, (C) 2012-2017 Automattic, Inc.

*/

$output-bourbon-deprecation-warnings: false;
@import 'bourbon';
@import 'utilities/functions/index';
@import 'utilities/variables/index';
@import 'neat';
@import 'utilities/mixins/index';
@import 'utilities/helpers/index';
@import 'assets/bower_components/normalize-css/normalize.css';
@import 'assets/bower_components/animate.css/animate.css';

@import 'base/index';
@import 'structure/index';
@import 'modules/index';
@import 'plugins/index';
@import 'views/index';
@import 'widgets/index';
@import 'scss/style';

:root {
  --something-bg-color: yellow;
}

.custom-logo {
  width:230px;
  padding: 0 20px;
}
.centered-menu {
width:85%;
display: flex;
justify-content: center;
align-items: center;
}

.menu-item {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.wr-megamenu-container{
  background: transparent !important;
  display: table;
  width: 50%;
}

.wr-mega-menu {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

@media only screen and (max-width:48em) { 
.centered-menu, .wr-mega-menu {
  display: initial !important;
}
.admin-bar .off-canvas-open {
  top:0;
  //display: block;
}
}
#widget-nav-eh {
}

.center-wr-eh div {
  text-align: center;
}
.center-wr-eh .image_caption {
  margin-top: 12px;
}
.submenu-eh {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
 .widget h2 {
   font-size: 1.3em;
    text-align: center;
  }
  .menu {
    border-top: 3px solid pink;
    margin-top: 7px;
    text-align: center;
    li {
      margin:12px 0px;

    }
  }
}
.menu-item:hover, .menu-item:focus,
.menu-item:active, {
  //background: transparent !important;
}
.menu-item .menu-item-link:hover,
 .menu-item .menu-item-link:focus,
 .menu-item .menu-item-link:active {
  background: transparent !important;
}
.wr-megamenu-container ul.wr-mega-menu
 li.wr-megamenu-item:hover > a.menu-item-link {

  background: transparent !important;
 }
.site-header {
  // position: absolute;
  // top: 90vh;
  // left: 50%;
  // width: 100%;
  // transform: translateX(-50%);
}
.wr-megamenu-container ul.wr-mega-menu {
  //width: 50% !important;
}
.menu-left-container, .menu-right-container {
  //width:620px;
  width: 50%;
}
#left-menu, #right-menu {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.is-fixed #right-menu {
  margin-left: 3em;
}
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  .nav-top-ehshop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  }
  nav{
    max-width:2020px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.is-fixed .centered-menu .custom-logo,
.is-fixed .centered-menu .custom-logo-link {
  width:290px;
  opacity: 1;
  transform:scale(1) translateY(0);
  transition: all .2s ease;
}

.is-fixed.cd-secondary-nav {
  border-top:10px solid #e08d71;
}
.centered-menu .custom-logo,
.centered-menu .custom-logo-link {
  width:0;
  opacity: 1;
  transform:scale(0) translateY(100%);
}

.hero-image-eh {
  height: 90vh;
  border-top: 5px solid #e08d71;
}

.home-logo {
  position: absolute;
  top:100px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
}
.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}
.icons-eh-shop {
  display: none;
}
.icons-eh-shop a {
  font-size: 28px;
  margin-top: 10px;
  margin-left: 12px;
}

.menu-item a {
  font-size: 1em;
  color: darken($color-dark-rosa, 43%);
  &:hover {
    color:$color-light-rosa;
  }
}

%heading {
    background: #f3eeeb;
    padding: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
/* #region Product grid */
.best-sellers, .followus-ig, .services-eh {
  h2{
    @extend %heading;
  }
}
#product-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .menu-item {
    width: calc(100% / 3 - 24px);
    margin: 6px;
    height: 450px;
    background: gray;
    background-size: cover !important;
    //padding: 12px;
    position: relative;
    box-shadow: 3px 2px 2px 0px rgba(125, 125, 125, 1);
  }
  .menu-item.sales {
    span {
      background: transparent;
      color:#FFFFFF;
      font-size: 4em;
    }
  }
  .menu-item span {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(248, 85, 36, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight:200;
    color: rgba(248, 85, 36, 0.9);
    position: relative;
    &:after {
    content: "";
    width: 90%;
    position: absolute;
    //background: #0079bf;
    border: 3px solid rgba(248, 85, 36, 0.9);
    top: 50%;
    left:50%;
    height: 90%;
    transform: translate(-50% , -50%);
    }
    &:hover {
    background: rgba(224, 141, 113, 0.8);
    &:after {
    border: 3px solid rgba(255, 255, 255, 0.9);
    }
    //background: transparent;
      color:#FFFFFF;
    animation: yourAnimation 300ms forwards 0s ease-out;
    }
  }
  @keyframes yourAnimation{
    0%{
        transform: rotate(xx);
        opacity: 0;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}

.elementToAnimate{
    animation: yourAnimation 300ms forwards 0s ease-out;
}
  .image-1 {background:url('https://shop.ehdesignlab.com/wp-content/uploads/sites/2/2018/05/window-3344407_1920-1.jpg') center / cover;}
  .image-2 {background:url('https://shop.ehdesignlab.com/wp-content/uploads/sites/2/2018/05/room-3345104_1920.jpg') center / cover;}
  .image-3 {background:url('https://shop.ehdesignlab.com/wp-content/uploads/sites/2/2018/05/inside-3145341_1920-1.jpg') center / cover;}
}
/* #endregion */

/* #region Item slider*/  
.slide-best {
  display:flex;
  height: 400px;
  flex-flow:row nowrap;
  width:100vw;
}
.best-item {
  width:calc(100% / 6 - 12px );
  margin-right:12px;
  img {
   height:308px;
  //width:300px;
  object-fit:cover;
  }
}
.slick-prev {
  left:20px;
}
.slick-next {
  right:20px;
}
.slick-arrow {
  z-index: 999;
}

.item-info {
  text-align: center;
  p {
  margin: 0;
  }
  p:nth-child(1) {
    font-weight: 300;
    margin-top: 6px;
    font-size: 1.2em;
  }
  p:nth-child(2) {
    font-size: 1em;
    font-weight: 700;
  }
  p:nth-child(3) {
    font-size: 1.2em;
  }
}
.best-item .slick-slide img {
 // width: 169px;
  min-height: 169px !important;
  height: 308px !important;
    object-fit: cover;
}

/* #endregion */
/* #region media queries Item slider*/  
@media only screen and (max-width:48em) { 
#header nav {
  display: inline-block;
  background:red;
  opacity: 0;
}
.submenu-eh {
  display: block;
}
.left_28 {
 // opacity:0;
  width:0;
}
.left_28.active {
 // opacity:1;
width: auto;
}

.off-canvas-container {
  background-color: #eee;
}
.it-responsive-mega {
  display: none !important;
}
.hero-image-eh {
  height: 200px;
  background-size: cover;
  border-top: 5px solid #e08d71;
}
  #product-grid {
    flex-flow: row wrap;
  }
  #product-grid .menu-item {
    background-size: 98% !important;
    width: calc(100% / 1 - 12px);
    background-repeat: no-repeat !important;
    background-position: center !important;background-size:10%;  
    width: calc(100% / 1 - 12px);
  }
  
  .off-canvas-container {
    width: 20rem;
    transform: translateX(-20rem);
    display: flex;
  }

  .hamburger, .hamburger::after,
  .hamburger::before {
    background: #e08d71;
  } 
  .service-list {
    flex-flow: column;
    .service-item {
      flex: 1 200px;
      h3 {
        font-size: 1.5em;
      }
    }
  }

  .contact-section-list {
    flex-flow: column;
    .contact-section-item {
      width: auto;
    }
  }
  .footer-links {
    flex-flow: column;
    ul {
      margin: 0;
      padding: 0;
      min-width: 230px;
      //text-align: center;
    }
  }

    .home-logo {
      position: relative;
      width: 300px;
    }
    .best-item {
      height: unset;
    }
    .footer-links {
      display: flex;
      flex-flow: row wrap;
      ul {
        flex:50%;
      }
    }

}
/* #endregion */

/* #region Followus ig*/  
.slide-ig {
  display: flex;
  height: 300px;
  flex-flow: nowrap;
  width: 100vw;
}
.ig-item {
  width: calc(100% / 6 - 12px);
  margin-right: 12px;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}
/* #endregion */

/* #region Services*/  
.service-list {
  display: flex;
  flex-flow: row nowrap;
  width:100vw;
  .service-item {
    background: darken(#f3eeeb, 12%);
    flex:1;
    height: 600px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-weight: 300;
      font-size: 2em;
    }
  }
  .service-item:nth-child(1) {
    background:#abaca9;
  }
  .service-item:nth-child(2) {
    background:#dfcfca;
  }
  .service-item:nth-child(3) {
    background:#9ebacb;
  }
}

.services-eh {
  margin-bottom: 20px;
}

/* #endregion */

/* #region Contact-section*/

.contact-section {
  background: #f5efec;
}
.contact-section-list {
  display: flex;
  flex-flow:row wrap;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  .contact-section-item {
    width: calc(100% / 3 - 12px);
   // height:250px;
    text-align: center;
  /*display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;*/
  }
}
.item-wrap {
  position:relative;
  //max-height: 330px;
  height:400px;
  display: flex;
  flex-flow: column;
  h3 {
    text-transform: uppercase;
    font-weight: 300;
  }
  & > :first-child {
    margin-top: 15%;
  }
  & > :last-child {
   // margin-bottom: 15%;
  }
  p{
    margin: 0 0 3rem;
    width:80%;
    margin: auto;
  }
}
.item-wrap form {
   display: flex;
   flex-flow: column;
   justify-content: center;
  // width:60%;
  // margin:auto;
  margin: 0;
}
.btn-contact {
  background:#FFFFFF;
  border: 2px solid #000;
  padding:16px 70px;
  color:#000 !important;
/*   position:absolute;
  left:0;
  bottom: 0;
  transform:translateX(-50%); */
}
form .btn-contact {
  margin-top: 12px;
  //transform:translateX(0);
}
/* #endregion */

/* #region Footer links*/

section.footer-links {
  padding: 20px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  ul{
    list-style: none;
    li {
      padding: 10px;
      font-size: 1em;
    }
  }
}
/* #endregion */

/* #region Product archive*/
#archive-eh {
  display: flex;
  flex-flow: row wrap;
}
article.product {
    width: calc(100% / 3 - 24px);
    padding: 24px;
    .entry-content{
      img{
        height: 260px;;
        object-fit: cover;
      }
    }
}

.archive #header {
  height: auto;
}
/* #endregion */
.woof_sid_shop-filter {
  margin: auto;
  .woof_redraw_zone {
    display: flex;
    justify-content: space-evenly;
  }
}
.page-shop .woocommerce.columns-4 {
 // display: flex;
} 
.woof a {
  color:red;
}
.woof_products_top_panel, .woocommerce-result-count,
.woocommerce-ordering, .woof_products_top_panel,
.woocommerce-pagination, .woocommerce-products-header {
  display: none !important;
}

// Filter layout
.woof_redraw_zone{
  //display: flex;
  //flex-flow: column;
  width:100%;
  padding: 0;
  margin: 0;
}


ul.woof_list {
  display:none;
}

.woof_sid_auto_shortcode .woof_container, #woof_results_by_ajax {
  //width: 100%;
}
.woof_container {
  flex: 1;
  max-width: 200px;
  h4 {
    font-weight: 500;
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 0;
  }
  ul {padding:0;}
  ul li { display:table-row; }
}

.woofs_childs_list  {
  margin: 0;
  padding: 0;
  width: 100%;
    li {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }
}
.woof_checkbox_term {
  appearance: none;
  width:15px;
  height: 15px;
  background: #f2f1f1;
}

.woof_checkbox_term:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.woof_checkbox_term:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: pink !important;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }

.woof.woof_sid.woof_sid_auto_shortcode {
  //width: 500px;
  padding-right: 20px;
  border: none;
}

.post-type-archive-product main {
 // display: flex;
  margin-top: 40px;
}

.woocommerce.woocommerce-page.woof_shortcode_output {
  //width: 90%;
}

.page-pagina-ejemplo #content {
  display: flex;
  flex-flow: row-reverse;
}
.woocommerce-loop-product__title {
  font-family: 'Raleway';
  color:rgb(34, 33, 34);
  width:80%;
  float: left;
}

.price {
  width: 20%;
  float: right;
  color:rgb(34, 33, 34);
}

.woocommerce ul.products li.product .price {
  color:rgb(31, 31, 31);

}

.woof .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #cecece;
}

.woof .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #cecece;
  border:none;
}
.wr-megamenu-container .stacked {
  background:transparent; 
  .widget_nav_menu {
    background:#f2f3f3; 
    text-align: center;
    .widgettitle {
      background: #ffffff;
    }
    .menu li:hover { background: #e1d5cf !important;  }
    .menu li {
      height:22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .menu li a {
      font-size: 14px;
      font-weight: 600;
      &:hover {
        color:#000;
      }
    }
  }
}
.wr-megamenu-container .stacked .sub-menu {
    display:block !important;
    animation-name: submenu;
}
@keyframes submenu {
  0% { opacity:0; }
  100% { opacity: .3; }
}
.wr-megamenu-container .stacked .sub-menu:hover {
    display: block !important;
}
.wr-megamenu-container .stacked {
    //min-height:300px;
    transition: 0.2s ease-in;
}

.menu-item-has-children {
  .sub-menu {
    display: block;
  }
}
.menu-item-has-children:hover {
  .sub-menu {
  display: block !important;
  position:absolute;
  }
  .menu-item a {
    color:red;
  }
}

.foo {
  background: transparent !important;
  position:absolute !important;
  visibility: visible;
  left:0%;
  border: none !important;
  box-shadow: none !important;
  li {
    background: #f2f3f3;
  }
}

.mega-button {
  height:100px;
  background: #f4ebe9;
  display:flex;
  justify-content: center;
  align-items: center;
  p {
    text-transform: uppercase;
    color:#FFFFFF;
    font-size: 20px;
  }
}

.top-stripe {
  background: #e08d71;
  color:#ffffff;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cat-text {
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
  color: #000;
  h1 { 
    margin: 1em;
    font-size: 4em;
    text-transform: uppercase;
  }
  p {
    color:#000;
    font-size: 16px;
    width:70%;
    text-align: center;
  }
}

.list-test-eh-wrapper, table.wccpf_fields_table td  {
  border:0 !important;
}
table.wccpf_fields_table td.wccpf_label, table.wccpf_fields_table td.wccpf_label label {
  width: 100% !important;
}
.variations, .list-test-eh-wrapper {
  tbody tr {
    display: flex;
    flex-flow: column;

    td.label, td.wccpf_label {
    background:#fef8f7;
    color: #e2957c;
    background: #fef8f7;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.3em;
    text-align: left;
    text-transform: uppercase;
    height:68px;
    label {
    padding: 20px 20px;
    }
    }
  }
}
.variations , .wccpf_label {
  label {
    padding: 0 20px !important;
    &:after {
      content: ">";
      color: #e2957c;
      position: absolute;
      right: 20px;
    }
  }
}

.list-test-eh-wrapper .wcff-option-wrapper-label
input[type="radio"] {
  //appearance: none;
  //display: none;
  &:checked
   {
     .wcff-option-wrapper-label {
     background: #2ecc71;
    color:red;
     }
  }
}

.list-test-eh
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.list-test-eh:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.list-test-eh:hover
{
     background-color: #913a3a;
}
.list-test-eh:checked
{
     background-color: #ad3030;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 


.list-test-eh-wrapper .wcff-option-wrapper-label input[type="radio"]:checked+label {
  background-color: #bbb;
}