// colors
$color-1: #FFFFFF; // white
$color-2: #f5484a; // orange
$color-3: #f0eee1; // cream
$color-4: #ffffff; // white

// fonts
$primary-font: 'Open Sans', sans-serif;

// z-index 
$secondary-bar-zindex: 1;
$intro-zindex: 2;
$header-zindex: 3;

// header height
$header-S: 50px;
$header-M: 70px;

//intro height
$intro-height-S: 300px;
$intro-height-M: 400px;
$intro-height-L: 600px;

//secondary bar
$bar-height-full: 100px;
$bar-height: 70px;
